h1 {
  text-align: center;
}

.home-container {
  display: flex;
  justify-content: center;
}

.hugPic {
  height: 250px;
}

.iridescence-container {
  width: 100%;
  height: 100%;
}

.timer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.location-pic {
  width: 500px;
  
}

.top-container {
  display: flex;
  flex-direction: row;
  
}

.location-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* @media (max-width: 600px) {
  .location-pic {
    background-color: black;
  }
} */
