h1 {
  text-align: center;
}

.timer {
  font-family: "Pacifico", cursive;
}

/* navbar */
.bg-body-tertiary {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.custom-navbar {
  background-color: #fdbebe !important;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link :hover {
  color: white;
}

.fake-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
