h1 {
  text-align: center;
}

.home-container {
  display: flex;
  justify-content: center;
}

.hugPic {
  height: 250px;
}

.iridescence-container {
  width: 100%;
  height: 100%;
}

.timer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.custom-navbar {
  background-color: #fdbebe !important; 
}

.home-pic {
  height: 800px;
}

.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}
