.attendance-container {
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
}

h1 {
  padding: 0.6rem;
}

.attendance-video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.attendance-video-frame {
  width: 300px;
  height: 300px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
}

.attendance-button {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.attendance-button:hover {
  background-color: #0056b3;
}

h3 {
  color: #ff6b6b;
  font-family: "DynaPuff", system-ui;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px #fff5f5;
}

.attendance-preview {
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.attendance-preview img {
  width: 100%;
  max-width: 600px; /* Fixed max width on larger screens */
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sneak-peek-toggle {
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sneak-peek-toggle:hover {
  color: #0056b3;
}

@media (max-width: 600px) {
  .attendance-preview img {
    max-width: 100%;
    padding: 0 1rem;
  }
}
