.locationPic {
  width: 100%;
}

.gardenPic {
  width: 100%;
}

.topContainer {
  text-align: center;
}

.standesamtInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomContainer {
  text-align: center;
}

.gardenInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 600px) {
  .bottomContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
  }
}
